<footer class="footer bg-dark py-3 mt-auto navbarFooter">
    <div class="container">
        <div class="row  text-muted">
            <div class="col">
                <span>&copy; YelpCamp 2021</span>
            </div>
            <div class="col text-end">
                <span>Eyal Avni</span>
            </div>
        </div>
    </div>
</footer>